[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Manish Kumar (kumarmanishbit)
[access "refs/for/refs/*"]
	read = group user/Manish Kumar (kumarmanishbit)
	push = group user/Manish Kumar (kumarmanishbit)
	label-Code-Review = -2..+2 group user/Manish Kumar (kumarmanishbit)
	label-Verified = -1..+1 group user/Manish Kumar (kumarmanishbit)
	rebase = group user/Manish Kumar (kumarmanishbit)
	removeReviewer = group user/Manish Kumar (kumarmanishbit)
	submit = group user/Manish Kumar (kumarmanishbit)
[access "refs/heads/*"]
	read = group user/Manish Kumar (kumarmanishbit)
	create = group user/Manish Kumar (kumarmanishbit)
	push = +force group user/Manish Kumar (kumarmanishbit)
	pushMerge = group user/Manish Kumar (kumarmanishbit)
[access "refs/tags/*"]
	push = +force group user/Manish Kumar (kumarmanishbit)
	pushTag = group user/Manish Kumar (kumarmanishbit)
	pushSignedTag = group user/Manish Kumar (kumarmanishbit)
